* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-style: italic;
    text-align: center;
    background-image: url(../img/wall.png);
    height: 150px;
    padding: 2rem;

}

.main {
    background-image: url(../img/cork.png);
    height: 100vh;
    
}