* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    font-style: italic;
    text-align: center;
    background-image: url(../img/wall.png);
    height: 150px;
    padding: 2rem;
    
    

}

main {
    background-image: url(/img/cork.png);
    width: 100%;
    
}


.card-text {
    font-style: oblique;
}


.card {
    border-radius: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}



.card:hover {
    transform: rotate(7deg);

}



.pallino {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: auto;
}